# Based on clang-tidy 18

Checks:
  - bugprone-*
  - misc-*
  - modernize-*
  - performance-*
  # - readability-*
  - -performance-no-int-to-ptr
  - -bugprone-easily-swappable-parameters
  - -modernize-use-trailing-return-type
  - -modernize-avoid-c-arrays
  - -misc-non-private-member-variables-in-classes
  - -misc-no-recursion
