# After change:
#   $ systemctl --user daemon-reload
#   $ systemctl --user restart qc-rclone@OneDrive
#
# Ref: https://gist.github.com/kabili207/2cd2d637e5c7617411a666d8d7e97101

[Unit]
Description=rclone: Remote FUSE filesystem for cloud storage config %i
Documentation=man:rclone(1)
Wants=network-online.target

[Service]
Type=notify
ExecStartPre=/usr/bin/mkdir -p %h/%i
ExecStart=/usr/bin/rclone mount \
    --config="%E/rclone/rclone.conf" \
    --cache-dir="%C/rclone" \
    --dir-cache-time=24h \
    --vfs-cache-mode=full \
    --vfs-cache-max-age=24h \
    --vfs-cache-max-size=10G \
    --log-level=INFO \
    --log-systemd \
    --exclude='/Personal Vault/**' \
    %i: %h/%i
ExecStop=/bin/fusermount3 -u %h/%i
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
