# Based on clangd 21

CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -march=native
  Remove:
    # Unrecognized nvcc flags
    - -ccbin=*
    - -rdc=true
    - -gencode
    - --generate-code=*
    - -forward-unknown-to-host-compiler

Completion:
  HeaderInsertion: Never

Hover:
  ShowAKA: true
