# Ref: https://docs.npmjs.com/cli/v8/using-npm/config

prefix = ${HOME}/.local
cache = ${HOME}/.cache/npm

proxy = socks5h://127.0.0.1:1089
https-proxy = socks5h://127.0.0.1:1089

# registry = https://registry.npm.taobao.org
